<div class="row <%=dom_id(tweet)%>">
		<div class="col-md-2 offset-md-3">
				 <%= tweet.User.email %>
		</div>
		<div class="col-md-4">
			<p><%= tweet.post %></p>
			<i class="fa fa-heart" aria-hidden="true"></i>
			<i class="fa fa-comment" aria-hidden="true"></i>
			<div class="float-right">
				<%=tweet.created_at.strftime('Creado el %e/%m/%Y a las %H:%M') %>
			</div>
		</div>
	</div>